# Gitignore for Eclipse #
#########################

# Release Folder #
##################
Release/

# gedit backups #
#################
*~

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

.metadata/
